@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body{
    font-family: 'Quicksand', 'Kanit', sans-serif;
    background-color:#c0dfd9;
    font-weight: 400;
}

a{
    font-family: 'Quicksand', 'Kanit', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

a:hover{
  text-decoration: none;
}

.center-div{
  text-align: center;
  align-items:center;
  justify-content:center;
  display:flex;
}

.chatListBox{
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

.chat-body{
  min-height: 550px;
}

.chat-form{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2%;
  padding-right: 5%;
}

.chat-left{
  background-color: #e9ece5;
  overflow: scroll;
  height: 550px;
}

.chat-list-name{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 700;
  color: #333333;
}

.chat-list-trip{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
  color: #333333;
  margin-top: -10px;
}

.chat-middle{
  background-color: #ffffff;
  overflow: scroll;
  height: 550px;
  padding-bottom: 4%;
}

.chat-order-status{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}

.chat-right{
  background-color: #e9ece5;
  overflow: scroll;
  height: 550px;
}

.chat-status{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 700;
}

.chat-status-tripname{
  border-bottom: 2px #333333;
}

.chat-text{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.chat-time-left{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 0.1em;
  margin-left: 2%;
  color: #999999;
}

.chat-time-right{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 0.1em;
  margin-right: 2%;
  color: #999999;
}

.chat-trip-title{
  font-size: 1em;
}

.chat-sentbox{
  bottom: -50px;
}

.createdtrip-image{
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  backface-visibility: hidden;
  display: block;
  height: 200px;
}

.edittrip-image{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  backface-visibility: hidden;
  display: block;
  height: 200px;
}

.errormsg{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #36D7B7;
  color: #FFFFFF;
  font-size: 2em;
  text-align: center;
}

.errornumber{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: #36D7B7;
    color: #FFFFFF;
    font-size: 10em;
    text-align: center;
    margin-top: 20%;
}

#forgetPassword{
  text-decoration: underline;
  cursor: pointer;
  color: #666666;
}

.footer-bg{
  background-color: #444444;
  margin-top: 5%;
}

.footer-foot{
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  color: #999999;
  font-family: 'Kanit', sans-serif;
}

.footer-menu{
  color: #999999;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 1em;
  margin-left: 5%;
  padding-top: 1%;
}

.footer-menu a{
  color: #999999;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 1em;
  padding-top: 1%;
}

.footer-social{
  padding-top: 9%;
  padding-right: 3%;
}

.footer-social-facebook{
  background-size: cover;
  background-image: url("../pic/facebook-icon.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

.footer-social-facebook:hover{
  background-size: cover;
  background-image: url("../pic/facebook-icon-active.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
}

.footer-social-instagram{
  background-size: cover;
  background-image: url("../pic/instagram-icon.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

.footer-social-instagram:hover{
  background-size: cover;
  background-image: url("../pic/instagram-icon-active.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
}

.footer-social-twitter{
  background-size: cover;
  background-image: url("../pic/twitter-icon.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

.footer-social-twitter:hover{
  background-size: cover;
  background-image: url("../pic/twitter-icon-active.png");
  width: 32px;
  height: 32px;
  padding-right: 2%;
  display: inline-block;
}

.footer-title{
  padding-left: 5%;
  padding-top: 2%;
}

.footer-title-text{
  color: #CCCCCC;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 2em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

.footer-title-text:hover{
  color: #36D7B7;
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-decoration: none;
}
h3{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 800;
}

h4{
  font-family: 'Quicksand', 'Kanit', sans-serif;
  font-weight: 400;
}

.homemenu{
    background-color:#3b3a36;
}

.homemenu-icon{
    margin-top: 15px;
    margin-bottom: 5px;
}

.homemenu-text{
    color: #e9ece5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.homepic {
    background-image: url("../images/thailand_header.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hometext {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    padding-top: 80px;
    color: white;
    font-size: 4em;
    background-image: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.hometrip-container{
  position: relative;
}

.hometrip-container:hover .hometrip-image{
  opacity: 0.3;
}

.hometrip-container:hover .image-overlay {
  opacity: 1;
}

.hometrip-image{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  backface-visibility: hidden;
  display: block;
  height: 200px;
}

.hometrip-tripname{
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-size: 1em;
  color: #3b3a36;
}

.hometrip-tripname:hover{
  text-decoration: none;
  color: #36D7B7;
}

.hometrip-tripowner{
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  display: block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-size: 0.8em;
  color: #3b3a36;
}

.hometrip-tripowner:hover{
  text-decoration: none;
  color: #36D7B7;
}

.image-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-overlay-text{
    background-color: #36D7B7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 32px;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.image-overlay-text:hover{
  text-decoration: none;
  color: #000000;
}

.index-btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  
}

.jourlalink{
  color: #FFFFFF;
  text-decoration: none;
}

.jourlalink:hover{
  text-decoration: none;
}

#register-form{
  margin-left:32%;
}
#trip-form{
  margin-left:15%;
}
/* input[type="file"]{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
} */

.login-button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

.login-label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:10px;
}

.navGap{
  margin-top: 10%;
}

.object-fit-cover {
  object-fit: cover;
}

.omise-popup button{
  display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s;
    cursor: pointer;
}

.omise-popup button:focus,.omise-popup button:hover{text-decoration:none}.omise-popup button.focus,.omise-popup button:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}

.profileimage{
  margin: -80px;
  height: 180px;
  width: 180px;
  object-fit: cover;
  border:2px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.profileImageNav{
  height: 24px;
  width: 24px;
  object-fit: cover;
  border:1px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.profileImageTrip{
  height: 64px;
  width: 64px;
  object-fit: cover;
  border:1px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.profileImageChat{
  height: 48px;
  width: 48px;
  object-fit: cover;
  border:1px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.profile-active-menu{
  color: #333333;
  padding-bottom: 5%;
  border-bottom-style: solid;
  border-bottom-color: #333333;
}

.profile-inactive-menu{
  color: #1abc9c;
  padding-bottom: 5%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

.profile-inactive-menu:hover{
  color: #36D7B7;
  text-decoration: none;
}

.profile-rating{
  color: #333333;
  display: inline-block;
  vertical-align: text-top;
}

::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

.register-bg{
    background-color: #d4f0fb;
}

.register-header{
    color: #513819;
    margin-top: 10px;
    padding-top: 10px;
}

.register-label{
    color: #513819;
}

.register-popup{
    color: #36D7B7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1em;
    padding-top: 5%;
}

.searchbox{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    top: 40%;
    left: 40%;
    margin-top: 150px;
    margin-left: -18%;
    font-size: 1em;
    background-image: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255);
    color: #36D7B7;
    width: 60%;
    height: 40px;
}

.searchbox::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #888888;
    text-transform: uppercase;
}

.searchbox-searchpage{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1em;
  background-image: none;
  background-color: rgba(0,0,0,0);
  text-align: left;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(255, 255, 255);
  color: #36D7B7;
  width: 96%;
  height: 40px;
  padding-left: 1%;
}

.searchbox-searchpage::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #888888;
  text-transform: uppercase;
}

.searchpage-margin{
  margin-top: 100px;
}

.searchpage-submitbutton{
  width: 50%;
  margin-left: 20%;
}

.search-datelabel{
  margin-top: 5%;
}

.titletext{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    padding-left: 1%;
    font-size: 0.8em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.titletext:hover{
    text-decoration: none;
    color: #36D7B7;
}

.tripTitle{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #3b3a36;
}

.username{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 5pt;
    display: inline;
}

.userDropdown{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 2%;
  color: #1abc9c;
}

/* Header */
.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }
  
  .caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
  }
  
  ::selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
  }
  
  img::selection {
    color: #fff;
    background: transparent;
  }
  
  img::-moz-selection {
    color: #fff;
    background: transparent;
  }

  #jourlaNav-alone {
    position: absolute;
    background-color: #1abc9c;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #jourlaNav-alone .navbar-brand {
    font-weight: 800;
    color: #343a40;
  }
  
  #jourlaNav-alone .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  #jourlaNav-alone .navbar-nav > div.btn-nav > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 992px) {
    #jourlaNav-alone {
      border-bottom: 1px solid transparent;
    }
    #jourlaNav-alone .navbar-brand {
      padding: 10px 20px;
      color: #fff;
    }
    #jourlaNav-alone .navbar-brand:focus, #jourlaNav-alone .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #jourlaNav-alone .navbar-nav > div.btn-nav > a {
      padding: 10px 20px;
      color: #fff;
    }
    #jourlaNav-alone .navbar-nav > div.btn-nav > a:focus, #jourlaNav-alone .navbar-nav > div.btn-nav > a:hover {
      color: #36D7B7;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #jourlaNav-alone {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
    #jourlaNav-alone.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -67px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: #1abc9c;
    }
    #jourlaNav-alone.is-fixed .navbar-brand {
      color: #212529;
    }
    #jourlaNav-alone.is-fixed .navbar-brand:focus, #jourlaNav-alone.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
    #jourlaNav-alone.is-fixed .navbar-nav > div.btn-nav > a {
      color: #1abc9c;
    }
    #jourlaNav-alone.is-fixed .navbar-nav > div.btn-nav > a:focus, #jourlaNav-alone.is-fixed .navbar-nav > div.btn-nav > a:hover {
      color: #0085A1;
    }
    #jourlaNav-alone.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  #jourlaNav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #jourlaNav .navbar-brand {
    font-weight: 800;
    color: #343a40;
  }
  
  #jourlaNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  #jourlaNav .navbar-nav > div.btn-nav > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 992px) {
    #jourlaNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #jourlaNav .navbar-brand {
      padding: 10px 20px;
      color: #fff;
    }
    #jourlaNav .navbar-brand:focus, #jourlaNav .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #jourlaNav .navbar-nav > div.btn-nav > a {
      padding: 10px 20px;
      color: #fff;
    }
    #jourlaNav .navbar-nav > div.btn-nav > a:focus, #jourlaNav .navbar-nav > div.btn-nav > a:hover {
      color: #36D7B7;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #jourlaNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
    #jourlaNav.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -67px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
    #jourlaNav.is-fixed .navbar-brand {
      color: #212529;
    }
    #jourlaNav.is-fixed .navbar-brand:focus, #jourlaNav.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
    #jourlaNav.is-fixed .navbar-nav > div.btn-nav > a {
      color: rgba(255, 255, 255, 0.356);
    }
    #jourlaNav.is-fixed .navbar-nav > div.btn-nav > a:focus, #jourlaNav.is-fixed .navbar-nav > div.btn-nav > a:hover {
      color: #0085A1;
    }
    #jourlaNav.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }
  
  .post-preview > a {
    color: #212529;
  }
  
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
  }
  
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  
  .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1;
  }
  
  @media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
      font-size: 36px;
    }
  }
  
  .floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dee2e6;
  }
  
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  .floating-label-form-group input::-webkit-input-placeholder,
  .floating-label-form-group textarea::-webkit-input-placeholder {
    color: #868e96;
    font-family: 'Lora', 'Times New Roman', serif;
  }
  
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
  }
  
  .floating-label-form-group .help-block {
    margin: 15px 0;
  }
  
  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }
  
  .floating-label-form-group-with-focus label {
    color: #0085A1;
  }
  
  form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #dee2e6;
  }
  
  footer {
    padding: 50px 0 65px;
  }
  
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }

  /* Trip CSS */
  .month {
    padding: 60px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    padding-left: 30px;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    padding-left: 30px;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.nav .navbar-top-links .navbar-right{
  padding: 10%;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

#createcompleted-popup h4 {
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

a#confirm {
  color: #ffffff;
}

/* ul {list-style-type: none;}

h5{
  font-weight: 600;
}
hr{
  border : 0.5px solid 	#5cb5ec;
}*/

/* Success Icon */

.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  margin-left: 15px;
}

.hide{
  display:none;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
