@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

body{
    font-family: 'Kanit', sans-serif;
}

.clearbg{
    background-image: none;
    background-color: rgba(0,0,0,0);
}

.homemenu{
    background-color: #513819;
}

.homemenu-icon{
    margin-top: 10px;
    margin-bottom: 5px;
}

.homemenu-text{
    color: #ffc844;
}

.homepic {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    background-image: url("../images/chiangmai.jpg");
    object-fit: contain;
    background-size: cover;
    }

.hometext {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    padding-top: 80px;
    color: white;
    font-size: 4em;
    background-image: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

input[type="file"]{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}